
# TO BE DONE

# Andmebaas
POSTGRES_USER=transport_user
POSTGRES_PASSWORD=changeme123
POSTGRES_DB=transport_db
DB_PORT_HOST=55432

# Andmeallikad
GPS_URL=https://transport.tallinn.ee/gps.txt
FUEL_URL=https://www.teadmiseks.ee/kasulikku/kutusehinnad/
GTFS_URL=http://www.peatus.ee/gtfs/gtfs.zip

SUPERSET_SECRET_KEY=generate-a-random-string-here in terminal (python3 -c "import secrets; print(secrets.token_hex(32))")
DASHBOARD_PORT_HOST=8088



# Airflow (kui kasutatakse)
# AIRFLOW_UID=50000
# AIRFLOW_USER=airflow
# AIRFLOW_PASSWORD=airflow
# AIRFLOW_DB=airflow

# Näidikulaud (kui kasutatakse)
# DASHBOARD_PORT_HOST=8501
# DASHBOARD_AUTOREFRESH_SECONDS=30

# Muud projekti-spetsiifilised muutujad
# API_URL=https://...
